<div class="container">
 
  <h1>餐廳後台</h1>
 
  <div class="row">
 
    <div class="col-md-12">
 
      <div>
        <%= link_to 'New Restaurant', new_admin_restaurant_path, class: "btn btn-primary" %>
      </div>

      <br>

      <table class="table table-bordered">

        <thead>
          <tr>
            <td><span style="font-weight:bold;">Number</span></td>
            <td><span style="font-weight:bold;">User Name</span></td>
            <td><span style="font-weight:bold;">Settings</span></td>
          </tr>

        </thead>

        <tbody>
          <% @restaurants.each do |restaurant| %>
          <tr>
            <th scope="row"><%= restaurant.id %></th>
            <td><%= restaurant.name %></td>
            <td>

              <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-check" aria-hidden="true">
                  <%= link_to 'Show', admin_restaurant_path(restaurant) , :style=>"color:white" %>
                </span>
              </button>

              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-edit" aria-hidden="true">
                  <%= link_to 'Edit', edit_admin_restaurant_path(restaurant) , :style=>"color:black" %>
                </span>
              </button>

              <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true">
                  <%= link_to 'Destroy', admin_restaurant_path(restaurant), method: :delete, data:{ confirm: "Are you sure?" }, :style=>"color:white" %>
                </span>
              </button>

            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="text-center">
      <%= paginate @restaurants %>
      </div>

    </div>
  </div>
 </div>

